/* font-family: 'Ubuntu', sans-serif; */
:root {
  --clr-white: #fff;

  --clr-green: #fff;
  /* body copy */
  --clr-black: #080808;
  /* footer background */

  --gradient-1: linear-gradient(
    to right bottom,
    #081409,
    #142c17,
    #1b4521,
    #24612a,
    #2e7d32
  );
  /* Background gradient - Header */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: var(--clr-black);
}

/* General styling */

body {
  font-family: "Overpass", sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #080808;
  background-color: var(--clr-white);
}

.container {
  margin: 0 auto;
  width: 92%;
  max-width: 1110px;
}

.img-desktop {
  display: none;
}

@media (min-width: 1000px) {
  .img-mobile {
    display: none;
  }

  .img-desktop {
    display: block;
  }
}

/* ===========
    HEADER
  ============ */

.action {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header {
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.hamburger {
    width: 2.8rem;
    cursor: pointer;
    padding-bottom: .25rem;
    transition: .3s;
}

.hamburger:hover{
  fill: #f27935;
  transition: .3s;
}

.name-logo {
  font-size: 2rem;
  width: 100%;
  padding-top: 0.4rem;
}

.color-text{
  color: #f27935;
  transition: .3s;
}

.color-text:hover{
  color:#000;
  transition: .3s;
}


.header-title,
.header-subtitle {
  color: var(--clr-white);
  text-align: center;
}

.header-title {
  font-size: clamp(3.4rem, 3.5vw + 1rem, 5.9rem);
  line-height: 1.3;
  margin-top: 11.2rem;
  margin-bottom: 1.5rem;
}

.header-subtitle {
  font-size: 1.7rem;
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 4.5rem;
  line-height: 1.4;
}

.logo-wrapper {
  max-width: 100%;
  margin-right: 4rem;
  display: flex;
  cursor: pointer;
  stroke: #f27935;
  color: #000;
  transition: .3s;
}

.logo {
  width: 3rem;
  height: 3rem;
  padding-right: 0.2rem;
  padding-top: .8rem;

  transition: .3s;
}

.logo-wrapper:hover{
  stroke: #000;
  transition: .3s;
}
/* ==== HEADER NAV, DROPDOWN ==== */

.header-nav {
  display: none;
}

.toggle {
  position: relative;
  color: #000;
  background: transparent;
  font-size: 1.8rem;
}

.toggle::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -15%;
  left: 50%;
  width: 100%;
  background-color: #f27935;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s;
}

.toggle:hover::before {
  transform: translateX(-50%) scaleX(1);
}

/* Hamburger */

.header-container {
  position: relative;
}

.header-nav.mobile-show {
  position: absolute;
  width: 100%;
  min-height: 350px;
  padding: 3rem 0;
  top: 5.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  opacity: 95%;
}

.header-nav.mobile-show + .hamburger {
  background-image: url(./images/icon-x.svg);
}

.header-nav.mobile-show button,
.header-nav.mobile-show a {
  color: var(--clr-black);
}

.header-nav.mobile-show .dropdown-toggle {
  font-size: 2rem;
}

.header-nav.mobile-show .dropdown-toggle::before {
  background-color: var(--clr-white);
}

.header-nav.mobile-show .nav-list,
.header-nav.mobile-show .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav.mobile-show .nav-list {
  width: 80%;
  gap: 2.5rem;
  padding-bottom: 2rem;
  margin-right: initial;
  border-bottom: 1px solid var(--clr-black);
}

.header-nav.mobile-show .dropdown {
  width: 100%;
}

.header-nav.mobile-show .dropdown-menu {
  position: static;
  background-color: var(--clr-white);
  width: 100%;
  margin-top: 1rem;
  transform: translateX(0);
}

.header-nav.mobile-show .btn-primary-1,
.header-nav.mobile-show .btn-primary-2 {
  font-size: 1.8rem;
  transition: transform 0.3s, color 0.3s, background-color 0.3s;
}

.header-nav.mobile-show .btn-primary-1 {
  background-image: var(--gradient-1);
  color: var(--clr-white);
}

.header-nav.mobile-show .btn-primary-1:hover,
.header-nav.mobile-show .btn-primary-1:focus {
  transform: scale(1.05);
}

.header-nav.mobile-show .btn-primary-2:hover,
.header-nav.mobile-show .btn-primary-2:focus {
  background-color: var(--clr-red-400);
  color: var(--clr-white);
}

/*  */
@media (min-width: 600px) {
  .header {
    background-size: 220%;
    background-position: bottom 50% left 30%;
  }
}

@media (min-width: 910px) {
  .hamburger {
    display: none;
  }

  .content-title {
    font-size: 6rem;
  }

  .header {
    background-size: 220%;
    background-position: bottom 50% left 30%;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    margin-right: auto;
    padding-top: 0.1rem;
  }

  .nav-item {
    margin-right: 4rem;
  }

  .nav-link {
    color: var(--clr-white);
  }

  .header-navigation {
    align-items: center;
  }

  .btn-log-in {
    margin-right: 2rem;
  }

  .header-subtitle {
    font-size: 2.1rem;
  }
}

/*============
    Title for header pages
  ============== */

.content-title {
  padding-top: 10rem;
  color: var(--clr-white);
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
}

.content-subtitle {
  padding-top: 4rem;
  color: var(--clr-white);
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

/* ===========
    GENERAL SECTION STYLING
  ============= */

.btn .resume-btn a{
  border: #fff 1px;
}
.section {
  padding: 0rem 0;
  text-align: left;
  border-bottom: lightcyan .5px;
  border-bottom-style: solid ;
}

.section-title {
  font-size: 2.5rem;
}

.subsection-title {
  font-size: 2.9rem;
  margin-bottom: 1.8rem;
  color: #fff;
}

.subsection-title-2{
  color: #fff;
}

.subsection-title-3{
  color: #fff;
  
}
@media (min-width: 1000px) {
  .section {
    text-align: left;
  }
}

/* === Section one === */
.section-one {
  padding-bottom: 14rem;
  background-image: linear-gradient(to right bottom, #f27935, #f68b33, #f89c33, #f9ae35, #f9bf3b);
}

.section-one-container {
  padding-top: 8rem;
  display: grid;
  justify-items: center;
  gap: 4.5rem;
  grid-template-areas:
    "img"
    "content";
}

.section-one-img-wrapper {
  grid-area: img;
  width: 36rem;
}
 
.img-mobile {
  fill: #fff;
}

.subsection-one {
  grid-area: "content";
  color: #fff;
  font-weight: bolder;
}

.subsection-one h4{
  padding-bottom: 1rem;
}

.subsection-one h3{
  color: #fff;
  font-size: 4rem;
  padding-bottom: 1rem;
  font-weight:900;
}

.subsection-one h2{
  color: #fff;
  padding-bottom: 5rem;
  font-size: 4rem;
  font-weight: bolder;
}

.subsection-one a{
  border: #fff solid 2px;
  padding: 1.5rem;
  font-size: 2rem;
  transition: .3s;
  border-radius: .3rem;
}

.subsection-one a:hover{
  border: #fff solid 1px;
  background-color: #fff;
  color: #f27935;
  transition: .3s;
}

@media (min-width: 600px) {
}
@media (min-width: 1000px) {
  .img-desktop {
    fill: #fff
  }
  .section-one {
    position: relative;
    margin-bottom: 0rem;
    padding-bottom: 16rem;
  }

  .section-one-container {
    padding-top: 16rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    justify-items: left;
    grid-template-areas:
      "content img";
  }

  .section-one-img-wrapper {
    width: 46rem;
  }

  .subsection-one{
    padding-top: 8rem;
  }
}

/* === Section two=== */

.section-two{
  padding-top: 6rem;
  padding-bottom: 10rem;
}

.section-two-container{
  display: grid;
  justify-items: center;
  gap: 4.5rem;
  grid-template-areas:
    "profile-pic"
    "content";
}

.profile-pic{
  width: 20rem;
  grid-area: profile-pic;
  fill: #000;
  background-color: #f89c33;
  padding: 0.6rem;
  border-radius: 90%;
}
.subsection-two{
  grid-area: "content";
}

.subsection-two p{
  padding-bottom: 1rem;
  font-size: 1.7rem;
}

.subsection-two-h2{
  width: 100%;
  font-size: 5rem;
  text-align: center;
  padding-bottom: 2rem;
}



@media (min-width: 1000px) {

  .section-two-container {
    display: grid;
    gap: 2rem;
    justify-items: left;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "content profile-pic";
  }
  .subsection-two-h2{
    padding-bottom: 4rem;
  }
  
  

}

/* ===Skills=== */

.skills-container{
  display: grid;
  justify-items: center;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "skill";
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.java-logo{
  width: 7rem;
  height: 7rem;
}

@media (min-width: 500px) {
  .skills-container{
    justify-content: space-between;
    display: grid;
    justify-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "skill";
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
  }
}

@media (min-width: 1000px){
  .profile-pic{
    margin-top: 3rem;
    margin-left: 11rem;
    width: 25rem;
  }
  .skills-container{
    justify-content: space-between;
    display: grid;
    padding: 1rem;
    justify-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "skill";
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
  }

  .java-logo{
    width: 10rem;
    height: 10rem;
  }
}

/*===Projects===*/

.app-container{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "app";
  font-size: 2rem;
  text-align: left;
}

.etch-img{
  max-width: 1000px;
  justify-content: center;
}

.app-content{
  width: 350px;
  padding: 1.5rem;
  border: #000 1px solid;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

.app-content h3{
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: .8rem;
}

.app-content p{
  font-size: 1.7rem;
}

.github-logo{
  width: 2,4rem;
  height: 2.4rem;
  margin-bottom: .2rem;
  margin-right: .7rem;
}

.external-logo{
  margin-top: 1.4rem;
  width: 3.2rem;
  height: 3.2rem;
}

@media (min-width: 700px) {
  .app-container{
    display: grid;
    justify-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "app";
    font-size: 2rem;
    text-align: left;
  }

  .app-content{
    width: 315px;
  }
}

@media (min-width: 1070px) {
  .app-container{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "app";
    font-size: 2rem;
    text-align: left;
  }

  .app-content{
    width: 320px;
  }
}

/* ===========
    FOOTER
  ============= */

.author-links-container {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;
  color: var(--clr-white);
  background-color: var(--clr-black);
}

.footer {
  background: var(--clr-black);
  text-align: left;
  color: var(--clr-white);
}

.copyright{
  font-size: 1.4rem;
}

@media (min-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .footer {
    text-align: left;
    padding-left: 0rem;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
  }
}
